:root {
	/* Change these variables according to your theme */
	--primary: #ffffff;
	--accent: #00c3ff93;
	--delete: #b60000c0;
	--primary-text: #ffffff;
	--green: #2474a6af;
	/* Window background and default font */
	background: #052937;
  background-size: 200%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
	max-width: 55rem;
	/* Keeps the page from overflowing on wide monitors */
	margin: 1em auto;
	/* 0.5em is top and bottom margin. 'auto' for left and right centers the body on the page */
	padding: 0.75rem;
	/* Padding goes between the borders and the internal content */
	background: -webkit-radial-gradient(center, rgb(0, 0, 0), #052937);
	/* Contrast the body background from the page background */
}
/* Dropdown Button */
.dropdownbutton {
    background-color: #2474a6af;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


  /* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdownbutton {background-color: #1e628d4e;}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}


  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  main {
    height: 100%;
    max-width: 75%;
    margin: 5em;
    padding: 1rem;
    border-radius: 5px;
  }
  .heading {
    position: relative;
    left: auto;
    display: block;
    max-width: 75%;
  }