/* We use the Material Icons font in some of the styles. This brings in
the corresponding fonts from Google Fonts. */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


:root {
  /* Change these variables according to your theme */
  --primary: #ffffff;
  --accent: #00c3ff93;
  --delete: #b60000c0;
  --primary-text: #ffffff;
  --green: #2474a6af;
  /* Window background and default font */
  background: #052937;
  background-size: 200%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  max-width: 75%;
  /* Keeps the page from overflowing on wide monitors */
  margin: 1em auto;
  /* 0.5em is top and bottom margin. 'auto' for left and right centers the body on the page */
  padding: 1%;
  /* Padding goes between the borders and the internal content */
  background: -webkit-radial-gradient(center, rgb(0, 0, 0), #052937);
  /* Contrast the body background from the page background */
}
@media only screen and (max-width: 600px) {
  body{
    max-width: 100%;
    margin: 0%;
    padding: 0%;
  }
  main{
    max-width: 100%;
    margin: 0%;
    padding: 0%;
  }
  
  
}

/* Dropdown Button */
.dropdownbutton {
  background-color: #2474a600;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: fit-content;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-visible {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: fit-content;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content-visible a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content-visible a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

/* Show the dropdown menu on hover */


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdownbutton {
  background-color: #1e628d4e;
}

.home-button{
  color: white;
  border: none;
	/* No border */
	background: none;
	/* Match the background of the parent */
	font-family: 'Material Icons';
	/* Use the icon font */
	font-size: 50px;
	/* Input doesn't automatically inherit font size. This brings it in. */
	cursor: pointer;
	/* Change the cursor to a pointer when hovering on this element */
  
}
.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.video_description {
  color: white;
  padding-bottom: 1em;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

main {
  height: 100%;
  max-width: 100%;
  margin: 1%;
  padding: 1rem;
  border-radius: 5px;
}

.heading {
  position: relative;
  left: auto;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: end;
  grid-gap: 0;
 
}

.navigation_bar{
  display: grid;
  grid-template-columns: max-content max-content;
}


.arrow {
  border: solid rgb(255, 255, 255);
  background-color: white;
  clip-path: polygon(50% 10%, 0% 100%, 100% 100%);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  margin-bottom: 1px;
}

/* this makes the triangle point down*/
.down {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.up {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
