/* We use the Material Icons font in some of the styles. This brings in
the corresponding fonts from Google Fonts. */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


:root {
    /* Change these variables according to your theme */
    --primary: #ffffff;
    --accent: #00c3ff93;
    --delete: #b60000c0;
    --primary-text: #ffffff;
    --green: #2474a6af;
    /* Window background and default font */
    background-image: url("background_image.webp");
    background-repeat: inherit;
    background-position: center;
    font-family: 'Tahoma', 'Verdana', 'Times New Roman', 'Lucida Sans';
}

body {
    max-width: 75%;
    /* Keeps the page from overflowing on wide monitors */
    margin: 1em auto;
    /* 0.5em is top and bottom margin. 'auto' for left and right centers the body on the page */
    padding: 0%;
    /* Padding goes between the borders and the internal content */
    padding-left: 1%;
    padding-top: 1%;
    background: rgba(0, 0, 0, 0.159);
    /* Contrast the body background from the page background */
}




.topnav {
    overflow: hidden;
    height: max-content;
    background-image: linear-gradient(to right, rgba(63, 63, 63, 0.788), rgba(106, 147, 158, 0.575));
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    height: max-content;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.video_description {
    color: white;
    padding-bottom: 1em;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

main {
    height: 100%;
    max-width: 100%;
    margin: 1%;
    padding: 1rem;
    border-radius: 5px;
}







.video_description_title {
    background-color: rgba(62, 62, 62, 0.704);
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.video_description {
    background-color: rgba(47, 47, 47, 0.721);
    color: white;
    padding-top: 1em;
    padding-right: 15%;
    padding-left: 5%;
}

footer {
    padding: 2em
}

.credit_link {
    color: white;
    font-size: smaller;
}

.resume_container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 2em;
}

.work_experience {
    display: grid;

}

h1 {
    font-size: 30px;
    padding-left: 10px;
}

.download_button {
    background-color: #008299;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    margin: 1em;
    margin-left: auto;
  margin-right: auto;
    width: fit-content;
    display: block;
    overflow: hidden;
}

.home_button {

    width: 300px;
    cursor: pointer;
    padding-bottom: 1em;

}
.profile-photo{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
 
    width: 200px;
}
.center-title{
    text-align: center;
}
.project-tiles{
    display: grid;
    width: 100%;
    grid-template-columns: auto;
    list-style: none;
    padding-left: 0;
}
.project-tiles li{
    background-color: rgb(255,255,255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0,32,65, .5);
    margin: 1em;
    padding: 10px;
    width: auto;
}
.class-title{
    margin: 1em;
}
.task{
    list-style: none;
    position: relative;
    padding: 3px;
    color:#2b2b2b;
    padding-left: 1em;
    font-size: 1.2em;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    background-color: #b3b3b3;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 42;
  display:inline-flex;
  vertical-align:top;
  cursor: pointer;
}
.linethrough{
    text-decoration: line-through;
}

.delete-button{
    font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 45;
float: right;

}
.task-date{
    float: right;
    margin-right: 1em;
}
.form-settings{
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.pretty-button{
    width: 30%;
    background-color: #008299;
    color: white;
    font-weight: bold;
}
.better-date-field{
    width: 30%;
}
.sort-button{
    width:fit-content;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 12px 0;
    margin-bottom: 0px;
    margin-left: 2.5em;
    font-size: 13.33px;
    vertical-align: middle;
    font-family: Arial;
    background-color: #008299;
    color: white;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.sort-container{
    display: flex;
    margin-bottom: 0px;
}
.daily-universe{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1 em;
  padding: 10 em;
}
.tasklist{
    padding: 1em;
    padding-bottom: 0;
}
h4{
    margin: 0em;
    margin-bottom: 1em;
}
a{
    color: black;
    border-bottom: dotted 1px; 
    border-bottom-color: rgba(15, 122, 252, 0.2);
    text-decoration:none;
    font-weight: bold;
}
a:hover{
    color:#081586;
    border-bottom-color: rgba(208, 64, 0, 0.2);
    text-decoration:none
}
.stories-list{
    font-weight: normal;
    list-style: none;
    border-style: none;
}
.stories-list li{
    list-style:square;
    border-style: none;
    margin: 4px;
}
.stories-list a{
    font-weight: normal;
}
.maps{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 1em;
    border-style: solid;
    border-width: 2px;
    border-color:rgba(0, 0, 0, 0.212);
}
@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
        margin: 0%;
        padding: 0%;
  
    }

    main {
        max-width: 100%;
        margin: 0%;
        padding: 0%;
    }

    h1 {
        font-size: 25px;
        padding-bottom: 3px;
    }

    .video_description {
        padding-top: 0em;
        padding-right: 0%;
        padding-left: 0%;
    }



    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }



    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .profile-photo{
        display:block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
.project-tiles{
    grid-template-columns: auto;
}
.maps{
    width: 100%;
}
}